<div>
    <ul>
        @if (ViewModel.DocumentTypes != null)
        {
            @foreach (var documentType in ViewModel.DocumentTypes)
            {
                <li>
                    <span>@documentType.Id</span>
                    <span>@documentType.Name</span>
                    <RadzenButton Text="Hola Mundo" ButtonStyle="ButtonStyle.Secondary"/>
                </li>
            }
        }
    </ul>
</div>