<div>
    <RadzenStack Gap="1rem p-5">
        <RadzenDataGrid Data="@ViewModel.DocumentTypes" PagerPosition="@pagerPosition" AllowPaging="true" AllowSorting="true">
            <Columns>
                <RadzenDataGridColumn Property="Name" Title="Nombre" />
                <RadzenDataGridColumn Property="Code" Title="Código" />
                <RadzenDataGridColumn Property="Description" Title="Descripción" />
            </Columns>
        </RadzenDataGrid>
    </RadzenStack>
</div>